#node_modules
/node_modules
node_modules

#dotenv
.env
.env*
.env-*
.env.*
.env.development
.env.test
.env.production
/docker/.env
/docker/.env.development
/docker/.env.production
/docker/.env.test


#errores
errors.log